<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MYAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="stylesheet" href="assets/dashboard.css">
</head>
<body>
  <!-- Add your site or application content here -->
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://github.com/milankragujevic/myaq">MYAQ</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#!logout">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link link--generic-menu" href="#!jobs/create" id="link--create-job">
                <span data-feather="file-plus"></span>
                Add job
              </a>
            </li>
          </ul>
          <hr>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Types</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link link--generic-menu" href="#!job-types" id="link--job-types">
                <span data-feather="folder"></span>
                Job types
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link--generic-menu" href="#!job-types/create" id="link--create-job-type">
                <span data-feather="folder-plus"></span>
                Add job type
              </a>
            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Jobs</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link link--generic-menu" id="link--all-jobs" href="#!jobs/all">
                <span data-feather="file"></span>
                All jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link--generic-menu" id="link--running-jobs" href="#!jobs/running">
                <span data-feather="file"></span>
                Running jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link--generic-menu" id="link--finished-jobs" href="#!jobs/finished">
                <span data-feather="file"></span>
                Finished jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link--generic-menu" id="link--failed-jobs" href="#!jobs/failed">
                <span data-feather="file"></span>
                Failed jobs
              </a>
            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Users</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link link--generic-menu" href="#!users" id="link--users">
                <span data-feather="users"></span>
                All users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link--generic-menu" href="#!users/create" id="link--create-user">
                <span data-feather="user-plus"></span>
                Add user
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        Loading...
      </main>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src="https://unpkg.com/navigo@6.0.2/lib/navigo.min.js"></script>
  <script src="https://unpkg.com/mustache@2.3.0/mustache.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
  <script src="assets/scripts.js" type="text/babel"></script>
</body>
</html>