<h2>Add job type</h2>
<form>
  <div class="form-group">
    <label for="create-job-type--name">Name</label>
    <input type="text" class="form-control fields--create-job create-job-type--field-name" data-key="name" id="create-job-type--name">
  </div>
  <div class="form-group">
    <label for="create-job-type--fields">Fields</label>
    <input type="text" class="form-control fields--create-job create-job-type--field-fields" data-key="fields" id="create-job-type--fields">
    <span class="text-muted">Enter a comma-separated list of values, without spaces!</span>
  </div>
  <button type="submit" id="button--create-job-type" class="btn btn-primary">Create</button>
</form>