<form class="form-signin">
	<h1 class="h3 mb-3 font-weight-normal">Login</h1>
	<div class="alert alert-danger" id="login--alert-is-error" role="alert">
		Wrong username and/or password!
	</div>
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	<button class="btn btn-lg btn-primary btn-block" id="button--login-submit" type="submit">Login</button>
</form>